* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    html {
      scroll-behavior: smooth; /* animação suave */
    }

    body {
      background: #f4f4f4;
    }

    /* NAVBAR */
    .navbar {
      position: fixed;
      width: 100%;
      top: 0;
      display: flex;
      justify-content:space-between;
      align-items: center;
      background: #111;
      padding: 15px 25px;
      color: white;
      z-index: 1000;
      flex-direction: row-reverse;
    }

    .logo {
      font-size: 20px;
      font-weight: bold;
    }

    /* MENU */
    .nav-links {
      list-style: none;
      display: flex;
      gap: 20px;
    }

    .nav-links li {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.3s;
}

.nav-links.active li {
  opacity: 1;
  transform: translateY(0);
}

    .nav-links li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px; /* adiciona espaço interno */
  transition: 0.3s;
}

    .nav-links li a:hover {
      color: #00bcd4;
    }

    /* MENU HAMBURGUER */
    .menu-toggle {
      display: none;
      flex-direction: column;
      cursor: pointer;
    }

    .menu-toggle span {
      background: white;
      height: 3px;
      width: 25px;
      margin: 4px;
      transition: 0.3s;
    }

    /* SEÇÕES */
    section {
      height: 100vh;
      padding: 80px 20px; /* espaço por causa da navbar fixa */
    }

    #inicio { background: #e3f2fd; }
    #servicos { background: #c8e6c9; }
    #sobre { background: #fff9c4; }
    #contato { background: #ffcdd2; }

    /* RESPONSIVO */
  @media (max-width: 1024px) {
  .nav-links {
    position: fixed; /* muda de absolute para fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* ocupa a tela inteira */
    background: #111;

    flex-direction: column;
    justify-content: center; /* centraliza vertical */
    align-items: center;

    gap: 30px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
  }

  .nav-links.active {
    opacity: 1;
    pointer-events: all;
  }

  .nav-links li a {
    font-size: 24px; /* links maiores */
  }

  .menu-toggle {
    display: flex;
    z-index: 1100; /* fica acima do menu */
  }
}